@model EmailSender.Templates.Views.Emails.PessoaCadastradaComSucesso.PessoaCadastradaComSucessoViewModel

@{
    ViewData["EmailTitle"] = "Cadastrado com sucesso!";
}

<p>
    Olá @Model.Nome, seu cadastro foi realizado com sucesso!
</p>

